body {
  background-color: hsl(233, 47%, 7%);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

h1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

p {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

span {
  color: hsl(277, 64%, 61%);
}

.left-p {
  margin-top: 30px;
  padding-right: 80px;
}

.primary-container {
  width: 1440px;
  text-align: left;
}

.secondary-container {
  padding: 40px 0 0;
}

.left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: hsl(244, 38%, 16%);
  padding: 50px 50px 20px;
}

.right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.overlay {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: hsl(277, 64%, 61%, 0.6);
  background-size: 100%;
  background-repeat: repeat;
  min-height: 100%;
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .left {
    padding: 50px 100px 20px;
  }

  .left-p {
    padding-right: 0px;
  }

  .right {
    background-image: url(images/image-header-mobile.jpg);
  }

  .overlay {
    height: 400px;
  }
}
